{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block background_class %}
class="full-screen-background-image p-5"
{% endblock %}

{% block content %}
	<div class="container mb-3">
		<div class="row justify-content-start">
			<div class="col-12 col-md-8 col-xl-6">
				<div class="container bg-info-subtle border border-dark-subtle text-center">
					<h2 class="m-3"><b>
						Welcome to News Over Coffee!
					</b></h2>
					<p class="m-3">
						<i class="fa-solid fa-mug-hot"></i>
						All the news you need for all the (brief) time you have<br>
						<hr>
						<i class="fa-solid fa-earth-americas"></i>
						Today's top stories in your country & your language<br>
						<hr>
						<i class="fa-regular fa-newspaper"></i>
						Better understand the story behind the headlines with a variety of sources
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 col-md-8 col-xl-6">
				<div class="container bg-white border border-dark-subtle">
					<div class="row mx-1">
						<h2 class="mt-3"><b>LOGIN</b></h2>
					</div>
					<div class="row mb-3 mx-3 text-secondary">
						<aside>
							Need an account? Register
							<a href="/register">here</a>!
						</aside>
					</div>
					<form action="/login" method="POST">
						{{ form.csrf_token }}
						<div class="row mb-3 mx-3">
							{{ form.username.label(class_='form-label') }}
							{{ form.username(class_='form-control') }}
						</div>
						<div class="row mb-3 mx-3">
							{{ form.password.label(class_='form-label') }}
							{{ form.password(class_='form-control') }}
						</div>
						<div class="row mb-3 mx-3">
							<input class="btn btn-lg btn-outline-success"
								type="submit"
								value="Login">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
