{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block background_class %}
class="full-screen-background-image p-5"
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-12 col-md-8 col-xl-6">
				<div class="container bg-white border border-dark-subtle">
					<div class="row mx-1">
						<h2 class="mt-3"><b>REGISTER</b></h2>
					</div>
					<div class="row mb-3 mx-3 text-secondary">
						<aside>
							Already have an account? Login
							<a href="/login">here</a>!
						</aside>
					</div>
					{% for error in form.errors.items() %}
						<div class="alert alert-danger mx-3" role="alert">
							{{ error[1][0] }}
						</div>
					{% endfor %}
					<form action="/register" method="POST">
						{{ form.csrf_token }}
						<div class="row mb-3 mx-3">
							{{ form.username.label(class_='form-label') }}
							{{ form.username(class_='form-control') }}
							<div class="form-text">
								Username must be 4-20 characters.
							</div>
						</div>
						<div class="row mb-3 mx-3">
							{{ form.password.label(class_='form-label') }}
							{{ form.password(class_='form-control') }}
							<div class="form-text">
								Password must be at least 8 characters.<br>
								Characters allowed: A-Z, a-z, 0-9,
								! @ $ % & * , . - _
							</div>
						</div>
						<hr>
						<div class="row m-3">
							<aside class="form-text">
								Below are your user preferences,
								which can be changed within the site.
							</aside>
						</div>
						<div class="row mb-3 mx-3">
							{{ form.languages.label(class_='form-label') }}
							{{ form.languages(class_='form-control') }}
							<div class="form-text">
								One or more languages may be selected.
								Language defaults to English.
								ctrl+click on Windows or
								cmd+click on MacOS to select more than one.
							</div>
						</div>
						<div class="row mb-3 mx-3">
							{{ form.countries.label(class_='form-label') }}
							{{ form.countries(class_='form-control') }}
							<div class="form-text">
								One or more countries to receive news for
								may be selected.
								If none are selected, you will receive
								global news in your language.
								ctrl+click on Windows or
								cmd+click on MacOS to select more than one.
							</div>
						</div>
						<div class="row mb-3 mx-3">
							<input class="btn btn-lg btn-outline-success"
								type="submit"
								value="Register">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
